


  
  <body>
    <section class="memory-game" >
      <div class="memory-card" name="hulk">
        <img class="front-face" src="../../../../../assets/images/cards/hulk.jpg" />
        <img class="back-face" src="../../../../../assets/images/stanlee.jpg"  />
      </div>   
      <div class="memory-card" name="cap"  >
        <img class="front-face" src="../../../../../assets/images/cards/cap.jpg" />
        <img class="back-face" src="../../../../../assets/images/stanlee.jpg"/>
      </div>
      <div class="memory-card" name="cap">
        <img class="front-face" src="../../../../../assets/images/cards/cap.jpg" />
            <img class="back-face" src="../../../../../assets/images/stanlee.jpg"/>
      </div>      
      <div class="memory-card" name="deadpool">
        <img class="front-face" src="../../../../../assets/images/cards/deadpool.jpg"/>
        <img class="back-face" src="../../../../../assets/images/stanlee.jpg" />
      </div>
      <div class="memory-card" name="thor">
        <img class="front-face" src="../../../../../assets/images/cards/thor.jpg"  />
          <img class="back-face" src="../../../../../assets/images/stanlee.jpg" />
      </div>
      <div class="memory-card" name="logan">
          <img class="front-face" src="../../../../../assets/images/cards/logan.jpg" />
          <img class="back-face" src="../../../../../assets/images/stanlee.jpg"  />
        </div>   
    <div class="memory-card" name="spidy">
        <img class="front-face" src="../../../../../assets/images/cards/spiderman.jpg"  />
        <img class="back-face" src="../../../../../assets/images/stanlee.jpg" />
      </div>
      <div class="memory-card" name="deadpool">
        <img class="front-face" src="../../../../../assets/images/cards/deadpool.jpg" />
        <img class="back-face" src="../../../../../assets/images/stanlee.jpg"  />
      </div>      
    
      <div class="memory-card" name="hulk">
        <img class="front-face" src="../../../../../assets/images/cards/hulk.jpg" />
        <img class="back-face" src="../../../../../assets/images/stanlee.jpg"  />
      </div>      
     
      <div class="memory-card" name="ironman">
        <img class="front-face" src="../../../../../assets/images/cards/ironman.jpg" />
        <img class="back-face" src="../../../../../assets/images/stanlee.jpg" />
      </div> 
      <div class="memory-card" name="logan">
        <img class="front-face" src="../../../../../assets/images/cards/logan.jpg"  />
        <img class="back-face" src="../../../../../assets/images/stanlee.jpg"  />
      </div>
 
      <div class="memory-card" name="ironman">
          <img class="front-face" src="../../../../../assets/images/cards/ironman.jpg"  />
          <img class="back-face" src="../../../../../assets/images/stanlee.jpg" />
        </div>
    
      <div class="memory-card" name="thor">
          <img class="front-face" src="../../../../../assets/images/cards/thor.jpg"  />
            <img class="back-face" src="../../../../../assets/images/stanlee.jpg" />
        </div>
      <div class="memory-card" name="spidy">
        <img class="front-face" src="../../../../../assets/images/cards/spiderman.jpg"  />
        <img class="back-face" src="../../../../../assets/images/stanlee.jpg" />
      </div>      
      <div class="memory-card" name="starlord">
        <img class="front-face" src="../../../../../assets/images/cards/starlord.jpg" />
        <img class="back-face" src="../../../../../assets/images/stanlee.jpg"  />
      </div> 
      <div class="memory-card" name="starlord">
        <img class="front-face" src="../../../../../assets/images/cards/starlord.jpg"  />
        <img class="back-face" src="../../../../../assets/images/stanlee.jpg" />
      </div>
    </section>
  </body> 
  
  
  
