p{
    padding: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:darkblue;
    text-shadow: 2px 2px black;
    font-size: 50px;
    text-align: center;
}
